
p:hover { cursor: default }
.headerEnterNewPass {
  background-color: #090a1e;
  height: 11%;
  width: 100%;
  }
.navBarEnterNewPass {
  background: linear-gradient(to right, #011cb3, #003af0);
  height: 20%;
  width: 100%;
}
.mainBodyEnterNewPass {
  background-color: #fff;
  height: 100%;
  width: 100%;
  flex-direction: row;
  display: flex;
}
.footerEnterNewPass {
  background-color: #0b172b;
  height: 10%;
  width: 100%;
  line-height: 70px;
  border-top: 1px solid gray;
  color: #435470;
  font-size: 12px;
  bottom: 0px;
}
.TEXT_DIVEnterNewPass {
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.TEXTEnterNewPass {
  color: #4D5B61;
  font-size: 13px;
}
.button1EnterNewPass {
  background: #fff;
  height: 70%;
  width: 28%;
  border: #0084F8;
  margin-right: 5%;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.buttonText1EnterNewPass {
  color: #0084F8;
  font-size: 13px;
}

.button2EnterNewPass {
  background: #fff;
  height: 70%;
  width: 28%;
  border: #0084F8;
  margin-right: 2px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.buttonText2EnterNewPass {
color: #0084F8;
font-size: 13px;
}



.button1EnterNewPass:hover {
  background: #0084F8;
}
.buttonText1EnterNewPass:hover {
  color: #fff;
}

.button2EnterNewPass:hover {
  background: #0084F8;
}
.buttonText2EnterNewPass:hover {
  color: #fff;
}

@media only screen and (max-width: 1056px) {
  .headerEnterNewPass {
    background-color: lightblue;
  }
  .imageClassEnterNewPass {
    display: none !important;
  }
  .formClassEnterNewPass {
    width:'100%'
  }
}

.textInputSubDivEnterNewPass {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.textInputStyleEnterNewPass {
  width: 100%;
  height: 40px;
  margin-bottom: 4%;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: #BCC9D2;
  border-radius: 2px;
}

.textInputStyle2EnterNewPass {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: #BCC9D2;
  border-radius: 2px;
}

@media only screen and (max-width: 1056px) {

  .imageClassEnterNewPass {
    display: none !important;
    width:'0%'
  }
  .formClassEnterNewPass {
    width:'100%'
  }
}

@media only screen and (min-width: 1056px) {
  .imageClassEnterNewPass {
    display: flex;
    width:'50%'
  }
  .formClassEnterNewPass {
    width:'50%'
  }
}

